body {
background-color: 038cfc;
}

#first {
  border-style: solid;
  width: 30%;
  border-radius: 10px;
  float: left;
  padding: 50px;
}

#second {
 border-style: solid;
 float: right;
 padding: 50px;
 width: 30%;
 border-radius: 10px;
}

#picture {
  padding: 50px;
  float:left;
}
